@import "../../mixins.scss";

.form{
    margin-top: 30px;
    height: 500px;
    background-color: inherit;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .form-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        .form-input{
              margin:10px;
              width: 22rem;
              height: 2rem;
              border-radius: 10px;
              border: none;
              padding-left: 10px;
        }
       
    }
}
.homePage{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
    //  position: relative;
    .bottom-links{
        display: flex;
        margin-bottom: 20px;
        .bottom-link-p{
            color: aliceblue;
        }
        .bottom-link-signup{
            margin-left: 20px;
            color: aliceblue;
            font-weight: 700;
        }

    }
}
.form-heading{
    color: aliceblue;
}
.radio{
    display: flex;
    color: white;
    justify-content: center;
   
}

.label{
    margin-left: 25px;
    color: rgb(255, 255, 255);
}
.form-butto{
    margin:10px;
    width: 5rem;
    height: 2rem;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
    background-color: rgba(122, 120, 120, 0.446);
    font-weight: 600;
}